@charset "UTF-8";
/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Open+Sans&family=Poppins:wght@400;500;700&display=swap");

* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a,
a:link,
a:visited {
  /* color: inherit; */
    text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
    text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button,
input[type=submit] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

html,
body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    font-family: "DM Sans", sans-serif;
    letter-spacing: -0.5px;
    color: #171718;
    background-color: #fff;
}

html .dark,
body .dark {
    color: #fff;
    background-color: #252526;
}

.title-1 {
    text-align: center;
    margin-bottom: 60px;
    font-size: 60px;
    line-height: 1.3;
    font-weight: 700;
    color: #5C62EC;
}

@media (max-width: 620px) {
    .title-1 {
        margin-bottom: 30px;
        font-size: 40px;
    }
}

.title-2 {
    font-size: 40px;
    line-height: 1.3;
    font-weight: 700;
    margin-bottom: 20px;
}

@media (max-width: 620px) {
    .title-2 {
        margin-bottom: 10px;
        font-size: 30px;
    }
}

/*BLOCKS */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav {
    padding: 20px 0;
    border-bottom: 1px solid #33383f;
    background-color: #171718;
    color: #fff;
    min-width: 500px;
}

.nav-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    row-gap: 20px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media (max-width: 620px) {
    .nav-row {
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

.logo {
    margin-right: auto;
    font-size: 24px;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

.logo strong {
    font-weight: 700;
}

.nav-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    row-gap: 10px;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.nav-list__link {
    color: #fff;
}

.nav-list__link--active {
    position: relative;
    transition: opacity 0.2s ease-in;
}

.nav-list__link--active::before {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: #5C62EC;
    position: absolute;
    left: 0;
    top: 100%;
}

.nav-list__link:hover {
    opacity: 0.8;
}

.header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    min-height: 695px;
    background-color: #252527;
    background-image: url("./../images/header-bg.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    border-bottom: 1px solid #33383f;
    color: #fff;
    padding: 40px 0;
}

@media (max-width: 620px) {
    .header {
        min-height: unset;
    }
}

.header__wrapper {
    padding: 0 15px;
    max-width: 660px;
}

.header__title {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
    max-width: 100%;
}

.header__title strong {
    font-size: 60px;
    font-weight: 700;
}

@media (max-width: 620px) {
    .header__title strong {
        font-size: 40px;
    }
}

.header__title em {
    font-style: normal;
    color: #5C62EC;
}

@media (max-width: 620px) {
    .header__title {
        font-size: 30px;
    }
}

.header__text {
    line-height: 1.3;
    font-size: 18px;
    margin-bottom: 40px;
}

.header__text p + p {
    margin-top: 0.5em;
}

/* стилизуем index.html*/
.section {
    padding: 70px 0;
}

@media (max-width: 620px) {
    .section {
        padding: 40px 0;
    }
}

.projects {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    row-gap: 30px;
}

.project {
    max-width: 370px;
    background-color: #fff;
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.project img {
    border-radius: 10px;
}

.project h3 {
    padding: 15px 20px 25px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    color: #171718;
}

@media (max-width: 620px) {
    .project {
        font-size: 22px;
    }
}

.footer {
    background-color: #171718;
    padding: 60px 0 50px;
    color: #fff;
    margin-top: auto;
}

@media (max-width: 620px) {
    .footer {
        padding: 40px 0 30px;
    }
}

.footer__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    row-gap: 27px;
}

@media (max-width: 620px) {
    .footer__wrapper {
        row-gap: 20px;
    }
}

.social {
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 620px) {
    .social {
        -webkit-column-gap: 20px;
        -moz-column-gap: 20px;
        column-gap: 20px;
    }
}

@media (max-width: 620px) {
    .social__item {
        width: 28px;
    }
}

.project-details {
    max-width: 865px;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
}

.project-details a {
    margin-bottom: 15px;
    color: #5C62EC;
}

.project-details__img {
    min-width: 100%;
    margin-bottom: 30px;
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.project-details__desc {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    text-align: center;
}

.project-details__desc p + p {
    margin-bottom: 10px;
}

@media (max-width: 620px) {
    .project-details__desc {
        font-size: 22px;
    }
}

.project-skills {
    color: #5C62EC;
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    background-color: #5C62EC;
    border-radius: 7px;
    height: 48px;
    padding: 12px 28px;
    color: #fff;
    letter-spacing: 0.15px;
    font-size: 18px;
    font-weight: 500;
    transition: opacity 0.2s ease-in;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    position: relative;
    top: 1.3px;
}

.btn-outline {
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    -ms-flex-align: center;
    align-items: center;
    height: 48px;
    border-radius: 5px;
    padding: 12px 20px;
    border: 1px solid #171718;
    color: #171718;
    transition: opacity 0.3s ease-in;
}

.btn-outline:hover {
    opacity: 0.8;
}

.btn-outline:active {
    position: relative;
    top: 1.3px;
}

.title-2 {
    font-size: 40px;
    line-height: 1.3;
    font-weight: 700;
    margin-bottom: 20px;
}

.content-list {
    margin: 0 auto;
    max-width: 570px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    row-gap: 40px;
}

.content-list a {
    color: #5C62EC;
}

@media (max-width: 620px) {
    .content-list {
        row-gap: 20px;
    }
}

.content-list__item {
    font-size: 18px;
    line-height: 1.5;
}

.content-list__item p + p {
    margin-top: 0.5em;
}

@media (max-width: 620px) {
    .content-list__item {
        font-size: 16px;
    }
}

.dark-mode-btn {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-order: 1;
    order: 1;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 51px;
    height: 26px;
    padding: 5px;
    background-color: #272727;
    border-radius: 50px;
    position: relative;
}

.dark-mode-btn::before {
    position: absolute;
    top: 1px;
    left: 1px;
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;
    transition: left 0.2s ease-in;
}

.dark-mode-btn--active::before {
    left: 26px;
}

@media (max-width: 620px) {
    .dark-mode-btn {
        -ms-flex-order: 0;
        order: 0;
    }
}

.dark-mode-btn__icon {
    position: relative;
}